.title-addon {
    color: gray;
    background-color: white;
}

.CodeMirror-line * {
    font-family: 'Roboto Mono', monospace;
    font-size: 16pt;
    line-height: 1.45;
} 

.CodeMirror .CodeMirror-code * {
    font-size: 100%!important;
    line-height: 1.45!important;
}

.post-title-group {
    margin-bottom: 8px;
}

.post-title {
    font-family: 'Roboto Mono', monospace;
    font-size: 16pt;
    line-height: 1.45;
}