.article {
  font-size: 14pt;
  max-width: 64ch;
  font-family: 'Roboto Slab', serif;
  font-weight: 800;
}

.article h1 {
  font-family: 'Roboto', serif;
  font-size: 32pt;
  line-height: 1.4em;
}

.article h2 {
  font-family: 'Roboto', serif;
  font-size: 24pt;
}

.article h3 {
  font-family: 'Roboto', serif;
  font-size: 20pt;
}

.article h4 {
  font-family: 'Roboto', serif;
  font-size: 20pt;
}

.article h5, h6 {
  font-family: 'Roboto', serif;
  font-size: 14pt;
}

.article table {
  font-family: 'Roboto Slab', san-serif;
  font-size: 14pt;
}

.article th, .article td { padding: 16px; }

.article pre {
  font-family: 'Roboto Mono', monospace;
  font-weight: 100;
  background: #ddd;
  padding: 16px;
  font-size: 14pt;
  border-radius: 4px;
  white-space: pre-wrap;
}

.article blockquote {
  border-left: 4px solid #000;
  padding-left: 8px;
}

.article p {
  line-height: 1.4;
  margin-bottom: 32px;
}

.author {
  font-weight: 300;
  color: #999999;
}

#article-body {
  margin-top: 64px;
}