.main h1 {
  font-family: 'Chivo', serif;
  font-size: 32pt;
  max-width: 32em;
}

.main h2 {
  font-family: 'Chivo', serif;
  font-size: 28pt;
}

.main h3 {
  font-family: 'Chivo', serif;
  font-size: 20pt;
}

.main h4 {
  font-family: 'Chivo', serif;
  font-size: 20pt;
}

.main h5, h6 {
  font-family: 'Chivo', serif;
}

.main table {
  font-family: 'Roboto Slab', san-serif;
  font-size: 14pt;
}

.main pre {
  background: #ddd;
  padding: 16px;
  font-size: 14pt;
  border-radius: 4px;
  white-space: pre-wrap;
}

.main blockquote {
  border-left: 4px solid #000;
  padding-left: 8px;
}